.toastmessage_holder {
  width:100%;
  height:fit-content;
  background-color:transparent;
  position:fixed;
  z-index:2;
  bottom:0px;
  display:flex;
  padding:5px;
flex-direction: column-reverse;
border-radius:1px solid black;
}

.toastmessage, .minor_update{
  position:relative;
  margin:10px auto;
  display:flex;
  width:380px;
  height:85px;
  justify-content: space-between;
  background-color: #b6f8c49e;
 border-radius:1px;
-ms-flex-align: left;
align-items: left;
font-weight:500;
padding:5px 8px;
box-sizing: border-box;
border-left:5px solid #008000 ;
}

.toastmessage{
  background-color: #FFB7B79e;
  border-left:5px solid #ff0000;
}
 
.minor_update p, .toastmessage p{
  margin:5px 0px auto 4px;
}
.toast-close{
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.toast-close:hover{
  cursor: pointer;
}
@media only screen and (max-width: 767px) {  

}


@media only screen and (min-width: 768px) and (max-width: 1024px) {

  


}


@media only screen and (min-width: 1024px)   {
  .toastmessage_holder {
    background-color:transparent;
    width:fit-content;
      }

}
