.personal-form-holder--profile{
    width:100%;
    margin:10px 0;
    display:none;
}

.personal-form--profile{
    display:flex;
    flex-direction: column;
    gap:25px;
}

.personal-form--profile input{
    height:50px;
    width:100%;
    background-color:white;
    border:1px solid black;
}

#selected-tab--profile{
    display:block;
}

.billing-info--profile{
    width:100%;
    display:block;

}
table{
    border:1px solid black;
     border-collapse: collapse;
     width:100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 15px 20px;
}
tr:nth-child(even) {
    background-color: #dddddd;
  }

@media only screen and (min-width: 1024px) and (max-width: 1180px){

}


@media only screen and (min-width: 1450px){

}
@media only screen and (min-width: 1024px) {
    .personal-form-holder--profile{
        width:50%;
    }

}
