.setting_box_scrim, .setting_box_container{
    width:100%;
    height:100%;
    display:flex;
    border: 1px solid black;
    position:fixed;
    margin:auto;
    z-index:3;  
}


.setting_box_container{
    background-color:#000000ab;
}

.setting_box_scrim_invisible{
opacity: 0;
}

.setting_box{
    width:400px;
    height:350px;
    background-color:white;
    margin:auto;
    border-radius:5px;
    z-index:3;
    display:flex;
    flex-direction:column;
}


.settings_closebutton:hover{
cursor: pointer;
}

.setting_box_top{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: end;
    height:fit-content;

    padding:10px 10px 0px 0px;
    box-sizing: border-box;
}